

*{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}
main{
  width:90%;
  margin: 0 auto;
  margin-top: 10%;
}
section{
  position: relative;
  float: left;
  width: 20%;
  box-sizing: border-box;
  margin-right: 4%;
}

@media screen and (min-width: 1251px) and (max-width: 1450px) {
  .iconList {
    font-size: 1em;
  }
  .fa-repeat{
    font-size: 1em;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1250px) {
  .iconList {
    font-size: .7em;
  }
  .fa-repeat{
    font-size: .5em;
  }
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
  section{
    width: 30%;
    margin: 2%;
  }
  .iconList {
    font-size: 1em;
  }
  .fa-repeat{
    font-size: 1.5em;
  }
}

@media screen and (max-width: 750px) {
  section{
    width: 40%;
    margin: 5%;
  }
  .iconList {
    font-size: .7em;
  }
  .fa-repeat{
    font-size: .7em;
  }
}

.col_four{
  margin-right: 0%;
}
article{
  border: 3px solid #56b6ce;
}

.tShirt{
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}
nav{
  border-top: 3px solid #56b6ce;
}
nav::after{
  content: "";
  display: table;
  clear: both;
}
.iconList > li{
  float: left;
  position: relative;
  width: 20%;
  border-right: 3px solid #56b6ce;
  box-sizing: border-box;
  text-align: center;
  padding: 5px;
  color: #56b6ce;
}
.iconList > li:hover{
  background-color: #56b6ce;
  color: white;
}
nav .cart{
  border-right: 0px;
}
#square1{
  color: #68b0e1;
}
#square2{
  color: #e36ea5;
}
#square3{
  color: #e1ae76;
}
#square4{
  color: #7bc095
}
.sizingHoverbox{
  transition: all 1s;
  opacity: 0;
  position: absolute;
  bottom: 130%;
  left: -15%;
  height: 150px;
  width: 130%;
  border: 3px solid #56b6ce;
  box-sizing: border-box;
  background-color: white;
  border-radius: 7px;
  padding-top: 7px;
}
.triangle1{
  position: absolute;
  top:97.5%;
  left:41%;
  background-color: white;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  border-right: 3px solid #56b6ce;
  border-bottom: 3px solid #56b6ce;
}
.sizingList > li{
  text-align: center;
  font-size: 20px;
  padding: 4px;
  color: #56b6ce;
  font-family: "Century Gothic", sans-serif;
}
.sizingList > li:hover{
  background-color: #56b6ce;
  color: white;
}
.sizingHover:hover > .sizingHoverbox{
  opacity: 1;
  bottom: 100%;
  left: -15%;
}
.flipBox{
  position: absolute;
  top: 0;
  right: 0;
  border-left: 3px solid #56b6ce;
  border-bottom: 3px solid #56b6ce;
  height: 7%;
  width: 9%;
  box-sizing: border-box;
  text-align: center;
}
.fa-repeat{
  color: #56b6ce;
  box-sizing: border-box;
  font-size: 1em;
}
.flipBox:hover{
  background-color: #56b6ce;
}
.fa-repeat:hover{
  color: white;
}
.swatchesColorBox{
  transition: all 1s;
  opacity: 0;
  position: absolute;
  bottom: 130%;
  left: -15%;
  height: 65px;
  width: 130%;
  border: 3px solid #56b6ce;
  box-sizing: border-box;
  background-color: white;
  border-radius: 7px;
  text-align: center;
  font-size: 10px;
}
.squareHover:hover > .swatchesColorBox{
  opacity: 1;
  bottom: 100%;
  left: -15%;
}
.colorList #blueSquare{
  color: #56b6ce;
  margin-top: 10px;
  margin-right: 5px;
}
.colorList #pinkSquare{
  color: #e36ea5;
}
.colorList #yellowSquare{
  color: #e1ae76;
  padding-right: 5px;
}
.colorList #greenSquare{
  color: #7bc095;
}
.triangle2{
  position: absolute;
  top:93%;
  left:41%;
  background-color: white;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  border-right: 3px solid #56b6ce;
  border-bottom: 3px solid #56b6ce;
}
header{
  margin-top: 10px;
  margin-bottom: 50px;
  color: #56b6ce;
  font-family: "Century Gothic", sans-serif;
  font-size: 18px;
}
header .label{
  float: left;
}
header .shirtprice{
  float:right;
  font-weight: bold;
}
